<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Table Template</title>
<link href="css/bootstrap-4.4.1.css" rel="stylesheet">
</head>

<body style="padding-top: 5%;">
	<div class="container">
                  <div class="row text-center mx-auto">
<div class="col-md-4 pb-1 pb-md-0 " id="FC100_H" style="margin-bottom: 1.5rem; padding-left:10px; padding-right:10px;">
  <div class="card">
    <div class="card-header" style="background-color: #B3FFAE;"><!--綠色header-->
      <button class="btn btn-link stretched-link" data-toggle="collapse" data-target="#collapseFC100_H"> 女子丙組100米欄 </button>
      <!--改比賽名--> 
    </div>
    <div id="collapseFC100_H" class="collapse show" data-parent="#FC100_H">
      <div class="card-body">
        <table class="table table-bordered table-sm" style="font-size:0.804rem;">
          <!--胡中: <tr style="background-color: #FFA365">	--> 
          <!--李中: <tr class="table-warning">				--> 
          <!--譚中: <tr class="table-primary">				--> 
          <!--梁中: <tr class="table-success">				--> 
          <!--鄭中: <tr style="background-color: #E3ACF9;">	--> 
          <!--翁中: <tr style="background-color: #FD8A8A;">	--> 
          <!--跟唔同學校格式改下面果堆code-->
          <tr class="table-active">
            <th>名次</th>
            <th>學校</th>
            <th>姓名</th>
            <th>成績</th>
          </tr>
          <!--  -->
          <tr ><!-- 跟據不同學校更改此行 -->
            <th>1</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr ><!-- 跟據不同學校更改此行 -->
            <th>2</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr ><!-- 跟據不同學校更改此行 -->
            <th>3</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr ><!-- 跟據不同學校更改此行 -->
            <th>4</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr ><!-- 跟據不同學校更改此行 -->
            <th>5</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr ><!-- 跟據不同學校更改此行 -->
            <th>6</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr ><!-- 跟據不同學校更改此行 -->
            <th>7</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr ><!-- 跟據不同學校更改此行 -->
            <th>8</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr ><!-- 跟據不同學校更改此行 -->
            <th>9</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr ><!-- 跟據不同學校更改此行 -->
            <th>10</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr ><!-- 跟據不同學校更改此行 -->
            <th>11</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr ><!-- 跟據不同學校更改此行 -->
            <th>12</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
			<!-- 無需更改以此行以下 -->
        </table>
      </div>
    </div>
  </div>
</div>
	<div class="col-md-8 pb-1 pb-md-0 " id="Ex" style="margin-bottom: 1.5rem; padding-left:10px; padding-right:10px;">
  <div class="card">
    <div class="card-header" style="background-color: #B3FFAE;"><!--綠色header-->
      <button class="btn btn-link " data-toggle="collapse" data-target="#collapseEx"> 例子 </button>
    </div>
    <div id="collapseEx" class="collapse show" data-parent="#Ex">
      <div class="card-body">
        <table class="table table-bordered table-sm" style="font-size:0.804rem;">
          <tr class="table-active">
            <th>名次</th>
            <th>學校</th>
            <th>姓名</th>
            <th>成績</th>
			  <th>tr</th>
          </tr>
          <tr style="background-color: #FFA365">
            <th>1</th>
            <th>胡中</th>
            <th>名字</th>
            <th>9.90"</th>
			  <th>style="background-color: #FFA365"</th>
          </tr>
          <tr class="table-warning">
            <th>2</th>
            <th>李中</th>
            <th>名字</th>
            <th>成績</th>
			  <th>class="table-warning"</th>
          </tr>
          <tr class="table-primary">
            <th>3</th>
            <th>譚中</th>
            <th>名字</th>
            <th>成績</th>
			  <th>class="table-primary"</th>
          </tr>
          <tr class="table-success">
            <th>4</th>
            <th>梁中</th>
            <th>名字</th>
            <th>成績</th>
			  <th>class="table-success</th>
          </tr>
          <tr style="background-color: #E3ACF9;">
            <th>5</th>
            <th>鄭中</th>
            <th>名字</th>
            <th>成績</th>
			 <th>style="background-color: #E3ACF9;"</th>
          </tr>
          <tr style="background-color: #FD8A8A;">
            <th>6</th>
            <th>翁中</th>
            <th>名字</th>
            <th>成績</th>
			  <th>style="background-color: #FD8A8A;"</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
		</div>
	</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-3.4.1.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap-4.4.1.js"></script>
</body>
</html>
